#infobox {
  float: right;
  margin: 10px;
  border: 1px solid #AAA;
  width: 300px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #AAA;
  padding: 10px;
  background-color: lightblue;
}

#infobox h1.about {
  margin-left: 10px;
  text-align: center;
}

#infolist li {
  display: block;
  margin: 10px;
}
